.row {
  color: azure;
}
.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.posters::-webkit-scrollbar {
  display: none;
}
.row_posters {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row_posters:hover {
  transform: scale(1.09);
  opacity: 1;
}
